.wrapper{
  .news{
    position: relative;
    padding: 22px 0 0 0;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      top:0;
      background-color: #000000;
      height: 380px;
      width: 100%;
      left: 0;
    }
    .news_banner{
      margin: 28px 0 0;
      .box{
        position: relative;
        padding: 60px 0 0px;
        min-height: 341px;
        .img{
          position: absolute;
          top:0;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .container{
          .text{
            position: relative;
            z-index: 1;
            .date{
              p{
                font-family: 'Manrope-Light';
                font-size: 42px;
                font-weight: 400;
                text-align: center;
                color: #fff;
                line-height: 36px;
                padding: 0;
              }
              span{
                color: #ffffff;
                font-family: 'Manrope-ExtraBold';
                font-size: 11px;
                font-weight: 400;
                display: block;
                text-transform: uppercase;
                padding: 0px 0 0 9px;
                text-align: center;
              }

            }
            p{
              font-family: 'SpectralSC-Regular';
              font-size: 24px;
              font-weight: 500;
              line-height: 32px;
              padding: 21px 0 33px;
              text-align: center;
              color: #fff;
            }
          }
        }
      }
    }
    .container{
      .title{
        font-size: 55px;
        color: #ffffff;
        padding: 9px 0 22px 0;
        text-align: center;
      }
      .news_box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .title{
          color: #000408;
          font-size: 30px;
          padding: 27px 0 8px;
          text-align: left;
          line-height: 30px;
          width: 100%;
        }
        .box{
          padding: 23px 0 30px 0;
          margin: 0 auto 30px;
          width: 298px;
          position: relative;
          .img{
            .date{
              position: absolute;
              width: 73px;
              height: 68px;
              background-color: #fff;
              p{
                color: #000408;
                font-family: 'Manrope-Light';
                font-size: 48px;
                font-weight: 400;
                line-height: 3.73px;
                position: absolute;
                left: 0;
                top: 4px;
              }
              span{
                color: #000408;
                font-family: 'Manrope-ExtraBold';
                font-size: 11px;
                font-weight: 400;
                line-height: 3.73px;
                text-transform: uppercase;
                padding: 0px 0 0 9px;
                position: absolute;
                bottom: 13px;
                left: 2px;
              }
              img{
                width: 289px;
                height: 168px;
              }
            }
            img{
              width: 100%;
            }
          }
          .text{
            p{
              font-family: 'SpectralSC-Regular';
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
              padding: 2px 0 4px;
              text-align: left;
              color: #000408;
            }
            a{
              position: absolute;
              bottom: 0;
              font-family: 'SpectralSC-Regular';
              font-size: 16px;
              font-weight: 500;
              line-height: 18px;
              margin: 0 5px 0 0px;
              padding: 0;
              color: #000408;
              transition: 0.3s;
              &:before{
                font-family: 'fontello';
                font-size: 24px;
                position: absolute;
                right: -36px;
                bottom: -2px;
                width: 26px;
                height: 26px;
                content: '\e800';
                color: #1c1c1c;
                border-radius: 50%;
                background-color: #fff;
                text-align: center;
                line-height: 26px;
                border: 1px solid #1c1c1c;
                transition: 0.3s;
              }
              &:hover{
                &:before{
                  color: #fff;
                  background-color: #1c1c1c;
                  border: 1px solid #fff;
                }
              }
            }
          }
        }
      }
      .text_content{
        padding: 37px 0px 0 0;
        p{
          font-family: 'Manrope-Regular';
          font-size: 15px;
          font-weight: 400;
          line-height: 28px;
          color: #000408;
          padding: 0 0 28px 0;
        }
      }
    }

  }
}
.form_consultation{
  position: relative;
  overflow: hidden;
  margin: 50px 0 0 0;
  &:before{
    content: '';
    background: url("../img/form_bg2.png");
  }
}
@media (min-width: 768px) {


}
@media (min-width: 1024px) {





}
@media (min-width: 1280px) {


  .wrapper{
    .news{
      .news_banner{
        margin: 20px 0 0;
        .box{
          padding: 106px 0 0;
          .img{

            img{
              width: 1080px;
              height: 430px;
              margin: 0 auto;
              display: block;
            }
          }
          .container{
            .text{
              position: relative;
              z-index: 1;
              .date{
                p{
                  font-size: 48px;
                }
                span{

                }

              }
              p{
                font-size: 32px;
                line-height: 41px;
                padding: 22px 210px 33px 210px;
              }
            }
          }
        }
      }
      .container{

        .title{
          font-size: 55px;
          color: #ffffff;
          padding: 9px 0 22px 0;
          text-align: center;
        }
        .news_box{

          .title{
            font-size: 48px;
            width: 100%;
            padding: 40px 0 47px;
          }
          .box{
            width: 49%;
            display: flex;
            justify-content: space-between;
            padding: 15px 0 30px;
            margin: 0;
            .img{
              width: 290px;
              height: 175px;
              .date{
                position: absolute;
                width: 73px;
                height: 68px;
                background-color: #fff;
                p{
                  color: #000408;
                  font-family: 'Manrope-Light';
                  font-size: 48px;
                  font-weight: 400;
                  line-height: 3.73px;
                  position: absolute;
                  left: 0;
                  top: 4px;
                }
                span{
                  color: #000408;
                  font-family: 'Manrope-ExtraBold';
                  font-size: 11px;
                  font-weight: 400;
                  line-height: 3.73px;
                  text-transform: uppercase;
                  padding: 0px 0 0 9px;
                  position: absolute;
                  bottom: 13px;
                  left: 2px;
                }
                img{
                  width: 289px;
                  height: 168px;
                }
              }
              img{
                width: 100%;
                height: 100%;
              }
            }
            .text{
              width: 45%;
              position: relative;
              p{
                font-size: 18px;
                line-height: 24px;
                padding: 1px 40px 4px 6px;
              }
              a{
                bottom: 7px;
                left: 7px;

              }
            }
          }
        }
        .text_content{
          padding: 129px 0 0;
          p{

          }
        }
      }

    }
  }
  .form_consultation{
    position: relative;
    overflow: hidden;
    margin: 90px 0 0;
  }


}
@media (min-width: 1400px) {


  .wrapper{
    .news{
      .news_banner{
        margin: 20px 0 0;
        .box{
          padding: 106px 0 0;
          .img{

            img{
              width: 1140px;
              height: 430px;
              margin: 0 auto;
              display: block;
            }
          }
          .container{
            .text{
              position: relative;
              z-index: 1;
              .date{
                p{
                  font-size: 48px;
                }
                span{

                }

              }
              p{
                font-size: 32px;
                line-height: 41px;
                padding: 22px 210px 33px 210px;
              }
            }
          }
        }
      }
      .container{
        width: 1140px;
        .title{
          font-size: 55px;
          color: #ffffff;
          padding: 9px 0 22px 0;
          text-align: center;
        }
        .news_box{

          .title{
            font-size: 48px;
            width: 100%;
            padding: 40px 0 47px;
          }
          .box{
            width: 49%;
            display: flex;
            justify-content: space-between;
            padding: 15px 0 30px;
            margin: 0;
            .img{
              width: 290px;
              height: 175px;
              .date{
                position: absolute;
                width: 73px;
                height: 68px;
                background-color: #fff;
                p{
                  color: #000408;
                  font-family: 'Manrope-Light';
                  font-size: 48px;
                  font-weight: 400;
                  line-height: 3.73px;
                  position: absolute;
                  left: 0;
                  top: 4px;
                }
                span{
                  color: #000408;
                  font-family: 'Manrope-ExtraBold';
                  font-size: 11px;
                  font-weight: 400;
                  line-height: 3.73px;
                  text-transform: uppercase;
                  padding: 0px 0 0 9px;
                  position: absolute;
                  bottom: 13px;
                  left: 2px;
                }
                img{
                  width: 289px;
                  height: 168px;
                }
              }
              img{
                width: 100%;
                height: 100%;
              }
            }
            .text{
              width: 45%;
              position: relative;
              p{
                font-size: 18px;
                line-height: 24px;
                padding: 1px 40px 4px 6px;
              }
              a{
                bottom: 7px;
                left: 7px;

              }
            }
          }
        }
        .text_content{
          padding: 129px 0 0;
          p{

          }
        }
      }

    }
  }
  .form_consultation{
    position: relative;
    overflow: hidden;
    margin: 90px 0 0;
  }



}