.wrapper{
  .specialist{
    position: relative;
    padding: 25px 0 15px;
    &:before{
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 735px;
      background-color: #000000;
    }
    .container{
      .banner{
        margin: 13px 0 0;
        .img{
          img{
            width: 299px;
            height: 400px;
            display: block;
            margin: 0 auto;
          }
        }
        .text{
          .user_name{
            padding: 0 13px 80px 3px;
            width: 300px;
            margin: 0 auto 33px;
            h1{
              font-family: 'SpectralSC-Regular';
              font-size: 29px;
              font-weight: 500;
              line-height: 24px;
              color: #fff;
              margin: 23px 0 10px 0;
            }
            p{
              color: #ffffff;
              font-family: 'SpectralSC-Regular';
              font-size: 16px;
              font-weight: 500;
              margin: 6px 0 6px;
              line-height: 23px;
              padding: 0;
            }
          }
          p{
            font-family: 'Manrope-Regular';
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            color: #000408;
            padding: 0 0 29px 0;

          }


        }
      }
      .content{
        padding: 12px 0 27px;
        .box{
          h3{
            color: #000408;
            font-family: 'SpectralSC-Regular';
            font-size: 22px;
            font-weight: 400;
            line-height: 28px;
          }
          p{
            color: #000408;
            font-family: 'Manrope-Regular';
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            padding: 12px 0 14px 0;
            strong{
              font-family: 'Manrope-Semibold';
              font-weight: 700;
              font-size: 16px;
              line-height: 28px;
              display: block;
            }
          }
          ul{
            margin: 10px 0 0 0;
            li{
              position: relative;
              font-weight: 400;
              line-height: 28px;
              font-family: 'Manrope-Regular';
              font-size: 15px;
              padding: 0 25px 15px 27px;
              color: #000408;
              &:before{
                content: '';
                position: absolute;
                left: 2px;
                width: 11px;
                height: 11px;
                border: 2px solid #000000;
                background-color: #ffffff;
                border-radius: 50%;
                top:8px;
              }
            }
          }
          .img{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            img{
              width: 140px;
              height: 205px;
              margin: 15px 0 15px 0;
            }
          }
        }
      }

    }
  }
}
@media (min-width: 1280px){
  .wrapper{
    .specialist{
      position: relative;
      padding: 30px 0 0 0;
      &:before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 380px;
        background-color: #000000;
      }
      .container{
        .banner{
          padding: 0;
          .img{
           float: left;
            width: 360px;
            height: 480px;
            margin: 0 30px 25px 0;
           img{
             width: 360px;
             height: 480px;
             margin: 0;

           }
         }
          .text{
            padding: 30px 0px 0 0;
            .user_name{
              padding: 0 290px 20px 0;
              margin: 0 0 60px 0;
              width: auto;
              height: 180px;
              h1{
                color: #ffffff;
                font-family: 'SpectralSC-Regular';
                font-size: 46px;
                font-weight: 500;
                line-height: 35px;
                margin: 10px 0 13px 0;
              }
              p{
                color: #ffffff;
                font-family: 'SpectralSC-Regular';
                font-size: 22px;
                font-weight: 500;
                line-height: 24px;
              }
            }
            p{
              color: #000408;
              font-family: 'Manrope-Regular';
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
            }

          }
        }
        .content{
          clear: both;
          padding: 17px 0 27px;
          .box{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 0 30px 0;
            .img{
              img{
                width: 179px;
                height: 260px;
                margin: 36px 23px 20px 0;
              }
            }
            h3{
              width: 100%;
              font-size: 28px;
            }
            p{
              width: 48%;
              padding: 43px 0 25px;
            }
          }
        }

      }
    }

  }
}
@media (min-width: 1400px){
  .wrapper{
    .specialist{
      .container{
        .banner{
          .text{
            padding: 80px 0px 0 0;
          }
        }

      }
    }

  }
}