
@import "libs/header";
@import "libs/footer";
@import "libs/fonts";
@import "libs/popups";
@import "libs/fontello";
@import 'libs/normalize.scss';
@import 'libs/slick';
@import 'libs/form';
@import 'libs/services';
@import 'libs/case';
@import "libs/animate";
@import 'libs/fm.revealator.jquery';
@import 'libs/loader';

body {
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Manrope-Regular';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    &.active{
        overflow: hidden;
    }
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Manrope-Regular';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    position: relative;
    margin: 0 auto;
}

.main{
    overflow-x: hidden;
}

.section{
    position: relative;
    z-index: 1;
}

img {
    max-width: 100%;
    height: auto;
}

ul li,
ol li {
    margin: 0;
}

sup {
    top: -.5em;
    font-weight: 700;
    font-size: 64%;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
input {
    -webkit-appearance: none;
    outline: none!important;
    border-radius: 0;
}
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none!important;
}
button {
    cursor: pointer;
}
.wrapper{
    padding: 105px 0 0 0;
}
.wpcf7{
    .screen-reader-response{
        display: none!important;
        ul{
            display: none;
        }
    }
    form{
        .wpcf7-response-output{
            display: none!important;
        }
        .wpcf7-not-valid-tip{
            color: #FF0000;
            font-size: 12px;
            position: absolute;
        }
    }
}
.submit{
    cursor: pointer;
}
.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

a {
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.container {
    width: 100%;
    padding: 0 9px;
    margin: 0 auto;
    position: relative;

}

h1 {

}

.title{

    font-family: 'SpectralSC-Regular';
    font-size: 36px;
    font-weight: 500;
    line-height: 72px;
}

h3 {

}
.wpcf7-not-valid-tip {
    font-size: 13px;
    position: absolute;
    color: red;
    bottom: -25px;
}
h4 {

}
textarea{
    resize: none;
    height: 42px;
    overflow: hidden;
}
.btn{
    width: 204px;
    border-radius: 24px;
    border: 1px solid #1a1a1a;
    color: #000000;
    font-family: 'SpectralSC-SemiBold';
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    display: block;
    padding: 17px 0;
    transition: 0.3s;
    cursor: pointer;
    position: relative;



}
.waite{
    background-color: #FFFFFF;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: #000;
        z-index: -1;
        border-radius: 24px;
        transition: 0.3s;
    }
    &:hover{
        &:before{
            position: absolute;
            top: 4px;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: #000;
            z-index: -1;
            border-radius: 24px;
            transition: 0.3s;
        }
    }
}
.black{
    background-color: #000000;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: #ffffff;
        z-index: -1;
        border-radius: 24px;
        transition: 0.3s;
        border: 1px solid #ffffff;
    }
    &:hover{
        &:before{
            position: absolute;
            top: 4px;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: #ffffff;
            z-index: -1;
            border-radius: 24px;
            transition: 0.3s;

        }
    }
}
.slick-arrow{
    position: absolute;
    top:0;
    cursor: pointer;
    &.next{
        right: 55px;
        top: -59px;
        border: none;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            background-image: url("../img/next.png");
            width: 46px;
            height: 16px;
            background-repeat: no-repeat;
        }
    }
    &.prev{
        right: 115px;
        top: -59px;
        border: none;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            background-image: url("../img/prew.png");
            width: 46px;
            height: 16px;
            background-repeat: no-repeat;
        }
    }
}
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    li{
        color: #ffffff;
        font-family: 'SpectralSC-Regular';
        font-size: 18px;
        font-weight: 500;
        padding: 0 2px;
        line-height: 31px;
        a{
            color: #ffffff;
            font-family: 'SpectralSC-Regular';
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            cursor: pointer;
            border-bottom: 1px solid #ffffff;
            &.active{
                cursor: default;
                border-bottom: none;
            }
        }
    }
}
.pagination{
    width: 100%;
    margin: 10px auto 10px;
    ul{
        display: flex;
        justify-content: center;
        li{
            color: #a8a8a9;
            font-family: 'SpectralSC-Regular';
            font-size: 30px;
            font-weight: 300;
            padding: 0 5px;
            a{
                color: #a8a8a9;
                font-family: 'SpectralSC-Regular';
                font-size: 30px;
                font-weight: 300;
                &.active{
                    color: #000408;
                }

            }
        }
    }
}
.links{
    color: #000408;
    font-family: 'SpectralSC-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    padding: 0 0 0 40px;
    position: absolute;
    bottom: 9px;
    &:before{
        font-family: 'fontello';
        font-size: 24px;
        position: absolute;
        width: 26px;
        height: 26px;
        content: '\e800';
        color: #1c1c1c;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        line-height: 26px;
        border: 1px solid #1c1c1c;
        left: 0px;
        top: 50%;
        transform: translate(0px, -50%);
    }
}
.link2{
    color: #000408;
    font-family: 'SpectralSC-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    position: relative;
    &:before{
        font-family: 'fontello';
        font-size: 24px;
        position: absolute;
        right: -40px;
        bottom: 0;
        width: 26px;
        height: 26px;
        content: '\e800';
        color: #1c1c1c;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        line-height: 26px;
        border: 1px solid #1c1c1c;
    }
}
@media (min-width: 768px) {
    .container {
        width: 648px;
        padding: 0;
    }

}

@media (min-width: 1024px) {
    .container {
        width: 864px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1080px;
    }
    .title{
        font-size: 60px;
    }
    .breadcrumbs{
        margin: 0 40% 0 0;
        li{

            padding: 0 4px 0 0;
            a{
                font-size: 18px;
            }
        }
    }
    .pagination{
        margin: 13px auto 0;
        ul{

            li{
                padding: 0 15px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1140px;
    }
}


@media (min-width: 1600px) {
    .container {

    }

}
@media (min-width: 1920px) {
    .container {
        width: 1140px;
    }
    .wrapper{
        padding: 128px 0 0 0;
    }
}