<section class="case">
    <div class="container">
        <h2 class="title">Кейсы</h2>
    </div>
    <div class="case_slider">
        <div>
            <div class="slide">
                <img src="img/slide.png">
                <div class="text">
                    <div class="content">
                        <h4>Оспаривание результатов налоговой проверки</h4>
                        <p>ЭкономЭкономический эффект – Клиент сохранил 10 млн руб. налоговых доначислений и возместил 300 тыс. руб. судебных расходов. ROI = 985%.Экономический эффект – Клиент сохранил 10 млн руб. налоговых доначислений и возместил 300 тыс. руб. судебных расходов. ROI = 985%.ический эффект – Клиент сохранил 10 млн руб. налоговых доначислений и возместил 300 тыс. руб. судебных расходов. ROI = 985%.</p>
                    </div>
                    <a href="single_case.html">Узнать больше</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <img src="img/slide.png">
                <div class="text">
                    <div class="content">
                        <h4>Оспаривание результатов налоговой проверки</h4>
                        <p>Экономический эффект – Клиент сохранил 10 млн руб. налоговых доначислений и возместил 300 тыс. руб. судебных расходов. ROI = 985%.</p>
                    </div>
                    <a href="single_case.html">Узнать больше</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <img src="img/slide.png">
                <div class="text">
                    <div class="content">
                        <h4>Оспаривание результатов налог результатов налог результатов налог результатов налоговой пров результатов налоговой проверки</h4>
                        <p>Экономический эффект – Клиент сохранил 10 млн руб. налоговых доначислений и возместил 300 тыс. руб. судебных расходов. ROI = 985%.</p>
                    </div>
                    <a href="single_case.html">Узнать больше</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <img src="img/slide.png">
                <div class="text">
                    <div class="content">
                        <h4>Оспаривание результатов налоговой проверки</h4>
                        <p>Экономический эффект – Клиент сохранил 10 млн руб. налоговых до10 млн руб. налоговых до10 млн руб. налоговых до10 млн руб. налоговых до10 млн руб. налоговых до10 млн руб. налоговых до10 млн руб. налоговых доначислений и возместил 300 тыс. руб. судебных расходов. ROI = 985%.</p>
                    </div>
                    <a href="single_case.html">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="case.html" class="btn ">Смотреть все</a>
    </div>
</section>