<section class="form_consultation" >
    <div class="banner" id="banner">
        <img src="img/form_bg3.png"/>
    </div>
    <div class="block_form">
        <div class="container">
            <h2 class="title">Консультация</h2>
            <p>уже сегодня</p>
            <form>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Ваше имя</label>
                    </div>

                </div>
                <div class="input_box">
                    <div class="input">
                        <span><input type="tel" class="phone_mask pp-form" maxlength="18" required ></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Телефон</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="input">
                        <span><textarea type="text" required class="pp-form"></textarea></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Ваш вопрос</label>
                    </div>
                </div>
                <p>
                    <button class="submit">Заказать услуги</button>
                </p>
            </form>

        </div>
    </div>

</section>
