<header class="header">
    <div class="container">

        <div class="nav_mobile">
            <a href="javascript:void(0);" class="icon_menu"><img src="img/menu.png" ></a>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li class="sub">
                        <a href="#" >Услуги</a>
                        <div class="submenu">
                            <div class="box">
                                <h3>Юридические услуги</h3>
                                <ul>
                                    <li><span>Налоги</span></li>
                                    <li><a href="#">Сопровождение и оспаривание результатов налоговых проверок</a></li>
                                    <li><a href="#">Сопровождение на допрос (комиссию по НДС) в налоговый орган</a></li>
                                    <li><a href="#">Диагностика и разработка юридической структуры бизнеса</a></li>
                                    <li><a href="#">Судебное представительство по налоговым спорам</a></li>
                                </ul>
                                <ul>
                                    <li><span>Регистрация и банкротство</span></li>
                                    <li><a href="#">Регистрация юридических лиц</a></li>
                                    <li><a href="#">Внесение изменений в сведения об обществе, содержащихся в едином государственном реестре юридических лиц</a></li>
                                    <li><a href="#">Ликвидация юридического лица</a></li>
                                    <li><a href="#">Банкротство юридического лица</a></li>
                                    <li><a href="#">Отмена принудительной ликвидации юридического лица</a></li>
                                    <li><a href="#">Сопутствующие услуги</a></li>
                                </ul>
                            </div>
                            <div class="box">
                                <h3>IT диагностика
                                </h3>
                                <ul>
                                    <li><a href="#">Технический консалтинг</a></li>
                                    <li><a href="#">Аудит производительности</a></li>
                                    <li><a href="#">Миграция</a></li>
                                    <li><a href="#">Продукт безопасный офис( виртуальное облако)</a></li>
                                    <li><a href="#">Аудит баз данных</a></li>
                                    <li><a href="#">Техническая поддержка</a></li>
                                    <li><a href="#">Защищенный мессенджер</a></li>
                                </ul>
                            </div>
                            <div class="box">
                                <h3>Аудит</h3>
                                <ul>
                                    <li><a href="#">Форензик</a></li>
                                    <li><a href="#">Due Diligence (Проверка бизнеса)</a></li>
                                    <li><a href="#">Аудит отчётности по МСФО</a></li>
                                    <li><a href="#">Юридическое структурирование бизнеса</a></li>
                                    <li><a href="#">Обязательный налоговый аудит</a></li>
                                    <li><a href="#">Организация управленческого контроля</a></li>
                                </ul>
                            </div>
                            <div class="box">
                                <h3>Услуги адвоката</h3>
                                <ul>
                                    <li><span>Налоги</span></li>
                                    <li><a href="#">Сопровождение и оспаривание результатов налоговых проверок</a></li>
                                    <li><a href="#">Сопровождение на допрос (комиссию по НДС) в налоговый орган</a></li>
                                    <li><a href="#">Диагностика и разработка юридической структуры бизнеса</a></li>
                                    <li><a href="#">Судебное представительство по налоговым спорам</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sub">
                        <a href="#">О компании</a>
                        <div class="submenu">
                            <div class="box">
                                <ul>
                                    <li><a href="#">О компании</a></li>
                                    <li><a href="#">Специалисты</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="case.html">Кейсы</a>
                    </li>
                    <li class="sub">
                        <a href="#">Полезные материалы</a>
                        <div class="submenu">
                            <div class="box">
                                <ul>
                                    <li><a href="#">Словарь</a></li>
                                    <li><a href="#">Новости</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="contact.html">Контакты</a></li>

                </ul>
                <div class="search_mobile">
                    <div class="input">
                        <input type="search" class="input_search" placeholder="Поиск по сайту">
                        <img src="img/search.png" class="icon">
                    </div>
                </div>
                <div class="social_mobile">
                    <a href="#" class="youtube"><img src="img/youtube.png"></a>
                    <a href="#" class="instagram"><img src="img/instagram.png"></a>
                </div>
            </div>
        </div>
          <a href="index.html" class="logo"><img src="img/header_logo.png"></a>
        <div class="phone_block">
            <a href="tel:+7 123 456 78 96"><i class="icon-telephone"></i></a>
        </div>
        <div class="nav_desktop">
            <ul class="menu">
                <li><a href="index.html">Главная</a></li>
                <li class="sub">
                    <a href="services.html" >Услуги</a>
                    <div class="sub-menu">
                        <div class="box">
                            <h3>Юридические услуги</h3>
                            <ul>
                                <li><span>Налоги</span></li>
                                <li><a href="#">Сопровождение и оспаривание результатов налоговых проверок</a></li>
                                <li><a href="#">Сопровождение на допрос (комиссию по НДС) в налоговый орган</a></li>
                                <li><a href="#">Диагностика и разработка юридической структуры бизнеса</a></li>
                                <li><a href="#">Судебное представительство по налоговым спорам</a></li>
                            </ul>
                            <ul>
                                <li><span>Регистрация и банкротство</span></li>
                                <li><a href="#">Регистрация юридических лиц</a></li>
                                <li><a href="#">Внесение изменений в сведения об обществе, содержащихся в едином государственном реестре юридических лиц</a></li>
                                <li><a href="#">Ликвидация юридического лица</a></li>
                                <li><a href="#">Банкротство юридического лица</a></li>
                                <li><a href="#">Отмена принудительной ликвидации юридического лица</a></li>
                                <li><a href="#">Сопутствующие услуги</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3>IT диагностика
                            </h3>
                            <ul>
                                <li><a href="#">Технический консалтинг</a></li>
                                <li><a href="#">Аудит производительности</a></li>
                                <li><a href="#">Миграция</a></li>
                                <li><a href="#">Продукт безопасный офис( виртуальное облако)</a></li>
                                <li><a href="#">Аудит баз данных</a></li>
                                <li><a href="#">Техническая поддержка</a></li>
                                <li><a href="#">Защищенный мессенджер</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3>Аудит</h3>
                            <ul>
                                <li><a href="#">Форензик</a></li>
                                <li><a href="#">Due Diligence (Проверка бизнеса)</a></li>
                                <li><a href="#">Аудит отчётности по МСФО</a></li>
                                <li><a href="#">Юридическое структурирование бизнеса</a></li>
                                <li><a href="#">Обязательный налоговый аудит</a></li>
                                <li><a href="#">Организация управленческого контроля</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3>Услуги адвоката</h3>
                            <ul>
                                <li><span>Налоги</span></li>
                                <li><a href="#">Сопровождение и оспаривание результатов налоговых проверок</a></li>
                                <li><a href="#">Сопровождение на допрос (комиссию по НДС) в налоговый орган</a></li>
                                <li><a href="#">Диагностика и разработка юридической структуры бизнеса</a></li>
                                <li><a href="#">Судебное представительство по налоговым спорам</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sub">
                    <a href="company.html">О компании</a>
                    <div class="sub-menu">
                        <div class="box">
                            <ul>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Специалисты</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="case.html">Кейсы</a>
                </li>
                <li class="sub">
                    <a href="#">Полезные материалы</a>
                    <div class="sub-menu">
                        <div class="box">
                            <ul>
                                <li><a href="#">Словарь</a></li>
                                <li><a href="#">Новости</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="contact.html">Контакты</a></li>
            </ul>
        </div>

        <div class="search">
            <div class="input">
                <input type="search" class="input_search">
                <img src="img/search.png" class="icon">
            </div>
        </div>
        <div class="call_box">
            <a href="tel:+7 921 123 45 67"> <i class="icon-telephone"></i><span>+7 921 123 45 67</span></a>
        </div>
          <a href="javascript:void(0);" class="btn waite">Оставить заявку</a>
        <div class="social">
            <a href="#" class="youtube"><img src="img/youtube.png"></a>
            <a href="#" class="instagram"><img src="img/instagram.png"></a>
        </div>
    </div>
</header>

