<div class="formPopup animated">
    <div class="close"></div>
    <div class="form__popup ">
        <span class="close-popup"><img src="img/cancel.png"></span>
        <div class="content">
            <div class="block_form">
                <h2 class="title">Оставьте заявку</h2>
                <p>и мы перезвоним уже сегодня</p>
                <form>
                    <div class="input_box">
                        <div class="input">
                            <span class="wpcf7-form-control-wrap"><input type="text" required class="pp-form"></span>
                            <code class="highlight"></code>
                            <code class="bar"></code>
                            <label>Ваше имя</label>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="input">
                            <span><input type="tel" class="phone_mask" maxlength="18" required></span>
                            <code class="highlight"></code>
                            <code class="bar"></code>
                            <label>Телефон</label>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="input">
                            <span><input type="text" required></span>
                            <code class="highlight"></code>
                            <code class="bar"></code>
                            <label>Ваш вопрос</label>
                        </div>
                    </div>
                    <button class="submit">Заказать услуги</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="valid-form validPopup">
    <div class="close"></div>
    <div class="valid__popup ">
        <span class="close-popup"><img src="img/cancel.png"></span>
        <div class="content">
           <p>Спасибо</p>
        </div>
    </div>
</div>