<section class="services" id="anchor">
    <div class="container">
        <h2 class="title">Услуги</h2>
        <div class="services_slider services_box">
            <div>
                <div class="box" style="background-image: url(img/box_1.png)">
                    <span>01</span>
                    <h4>Юридические услуги</h4>
                    <ul>
                        <li><a href="serviceSingle.html"><span>Сопровождение налоговых проверок</span><code class="icon"></code></a></li>
                        <li><a href="serviceSingle.html"><span>Мониторинг налоговых рисков</span><code class="icon"></code></a></li>
                        <li><a href="serviceSingle.html"><span> Представительство в суде по налоговым спорам</span><code class="icon"></code></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="box" style="background-image: url(img/box_3.png)">
                    <span>02</span>
                    <h4>IT диагностика</h4>
                    <ul>
                        <li><a href="serviceSingle.html"><span>Сопровождение налоговых проверок</span><code class="icon"></code></a></li>
                        <li><a href="serviceSingle.html"><span>Мониторинг налоговых рисков</span><code class="icon"></code></a></li>
                        <li><a href="serviceSingle.html"><span> Представительство в суде по налоговым спорам</span><code class="icon"></code></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="box" style="background-image: url(img/box_2.png)">
                    <span>03</span>
                    <h4>Аудит</h4>
                    <ul>
                        <li><a href="serviceSingle.html"><span>Сопровождение налоговых проверок</span><code class="icon"></code></a></li>
                        <li><a href="serviceSingle.html"><span>Мониторинг налоговых рисков</span><code class="icon"></code></a></li>
                        <li><a href="serviceSingle.html"><span> Представительство в суде по налоговым спорам</span><code class="icon"></code></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="service.html" class="btn waite">Смотреть все</a>
    </div>
</section>